{%extends "base.html"%} {% include 'main/includes/messages.html' %}{%load static%}{%load bootstrap4%} {%block content%}
<div class="container">
    <div class="row">
        <div class="col-xm-2 col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-xm-10 col-sm-10 col-md-10 col-lg-10">
            <div class="mt-2 mb-4">
                <h4 style="float: left;">Current operational busses are <b>{{buses.count}}</b> in number</h4>
                <form class="form-inline my-2 my-lg-0" style="float: right;">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search bus" aria-label="Search">
                    <button class="btn btn-md btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>

            <br>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Add bus
  </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Complete the form below to add bus.</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post">
                                {% csrf_token %} {% bootstrap_form form %}
                                <br>
                                <div class="form-group">
                                    <center><input type="submit" class="btn btn-primary btn-md" value="Save" style="width:100%"></center>
                                </div>

                                <input type="hidden" name="next" value="{{next}}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>



            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Company</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Plate Number</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Fare</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {%for bus in buses%}

                    <tr>
                        <td>{{bus.bus_company}}</td>
                        <td>{{bus.source}}</td>
                        <td>{{bus.destination}}</td>
                        <td>{{bus.plate_number}}</td>
                        <td>{{bus.date}}</td>
                        <td>{{bus.time}}</td>
                        <td>{{bus.fare}}</td>
                        <td>
                            <a href="{%url 'editbus' bus.id%}"><img src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/24/000000/external-edit-interface-kiranshastry-lineal-color-kiranshastry.png" /></a>
                        </td>
                        <td>
                            <a href="{%url 'deletebus' bus.id%}"><img src="https://img.icons8.com/color/30/000000/delete-sign--v1.png" /></a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock%}